<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DigitalInspections.Mapping.Data.Testing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DigitalInspections.Mapping.Data.Testing.Properties.Settings.Connection"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\DB\Springfield_Maps\GAS DISTRIBUTION PGDB\CU.mdb" />
    </connectionStrings>
    <applicationSettings>
        <DigitalInspections.Mapping.Data.Testing.Properties.Settings>
            <setting name="Provider" serializeAs="String">
                <value>Microsoft.Jet.OLEDB.4.0</value>
            </setting>
            <setting name="TestLayer" serializeAs="String">
                <value>Parks</value>
            </setting>
        </DigitalInspections.Mapping.Data.Testing.Properties.Settings>
    </applicationSettings>
</configuration>