<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharpMap.Demo.FormatConverter.PostGis.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SharpMap.Demo.FormatConverter.PostGis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SharpMap.Demo.FormatConverter.PostGis.Properties.Settings>
            <setting name="SourceConnectionString" serializeAs="String">
                <value>server=localhost;port=5432;database=postgis;user id=postgres;password=sergtsop;</value>
            </setting>
            <setting name="TargetConnectionString" serializeAs="String">
                <value>server=localhost;port=5432;database=postgis;user id=postgres;password=sergtsop;connection timeout=0;</value>
            </setting>
            <setting name="TargetSrid" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceSchema" serializeAs="String">
                <value>public</value>
            </setting>
            <setting name="TargetSchema" serializeAs="String">
                <value>public</value>
            </setting>
        </SharpMap.Demo.FormatConverter.PostGis.Properties.Settings>
    </userSettings>
</configuration>