<configuration>
  <appSettings>
    <!-- Suffix to be placed on ArrayList derived collection classes -->
    <add key="CollectionSuffix" value="Collection" />
    <!-- Prefix to be placed on public class fields (which are technically not meant to be manipulated) -->
    <add key="HiddenMemberPrefix" value="_" />
    <!-- Prefix to be placed certain xsd names that wouldn't be legal in .NET, like xsd enumerations that start with a numeric value. -->
    <add key="RenameItemPrefix" value="renamed_" />
    <!-- Special field in a class for mixed = "true" elements.  This must be changed to something unique if a complexType has a field called Value and mixed = true. -->
    <add key="MixedElementFieldName" value="Value" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>