<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name ="ogrProvider">
			<section name="datasourceType" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>
	</configSections>
	
	<ogrProvider>
		<!--                             typeId, Abbreviation, FilterText-->
		<datasourceType key="AVCBin" value="1|AVCBin|Arc/Info Binary Coverage"/>
		<datasourceType key="AVCE00" value="0|*.e00|Arc/Info ASCII Coverage"/>
		<datasourceType key="BNA" value="0|*.bna|Atlas BNA"/>
		<datasourceType key="CSV" value="0|*.csv|Comma Separated Value"/>
		<datasourceType key="DODS" value="3|DODS|DODS/OPeNDAP"/>
		<datasourceType key="PGeo" value="0|*.mdb|ESRI Personal GeoDatabase"/>
		<datasourceType key="SDE" value="2|SDE|ESRI ArcSDE"/>
		<datasourceType key="ESRI Shapefiles" value="0|*.shp|ESRI Shapefiles"/>
		<datasourceType key="FMEObjects Gateway" value="0|*.fdd|FMEObjects Gateway"/>
		<datasourceType key="GeoJSON" value="0|*.geojson|GeoJSON"/>
		<datasourceType key="GeoJSON2" value="3|GeoJSON|GeoJSON"/>
		<datasourceType key="GeoRSS" value="0|*.xml|GeoRSS"/>
		<datasourceType key="GML" value="0|*.gml|Geography Markup Language"/>
		<datasourceType key="GMT" value="0|*.gmt|GMT"/>
		<datasourceType key="GPX" value="0|*.gpx|GPX"/>
		<datasourceType key="GRASS" value="1|GRASS|Grass Vector"/>
		<datasourceType key="IDB" value="2|IDB|Informix DataBlade"/>
		<datasourceType key="Interlis 1" value="0|*.itf,*.xml,*.ili|INTERLIS 1"/>
		<datasourceType key="Interlis 2" value="0|*.itf,*.xml,*.ili|INTERLIS 2"/>
		<datasourceType key="INGRES" value="2|INGRES|INGRES"/>
		<datasourceType key="KML" value="0|*.kml|KML"/>
		<datasourceType key="MapInfo File" value="0|*.mif,*.tab|Mapinfo File"/>
		<datasourceType key="DGN" value="0|*.dgn|Microstation DGN"/>
		<datasourceType key="MySQL" value="2|MySQL|MySQL"/>
		<datasourceType key="OCI" value="0|OCI|Oracle Spatial"/>
		<datasourceType key="ODBC" value="0|ODBC|ODBC"/>
		<datasourceType key="OGDI" value="0|OGDI|OGDI Vectors"/>
		<datasourceType key="PostgreSQL" value="2|PostgreSQL|PostgreSQL"/>
		<datasourceType key="S57" value="0|*.000|S-57 Base file"/>
		<datasourceType key="SDTS" value="0|*catd.ddf|Spatial Data Transfer Standard"/>
		<datasourceType key="SQLite" value="0|*.sqlite|SQLite"/>
		<datasourceType key="UK .NTF" value="1|UK. NTF|UK. NTF"/>
		<datasourceType key="TIGER" value="1|TIGER|U.S. Census TIGER/Line"/>
		<datasourceType key="VRT" value="0|*.vrt|VRT - Virtual Datasource "/>
		<datasourceType key="XPlane" value="0|apt.dat,nav.dat,fix.dat,awy.dat|X-Plane/Flightgear"/>
		<datasourceType key="Geoconcept" value="0|*.gxt,*.txt|Geoconcept"/>
		<datasourceType key="DXF" value="0|*.dxf|AutoCAD DXF"/>
	</ogrProvider>

</configuration>