<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<gdalpath>C:\VENUS\CodePlex\initialgdalintegration\Extensions\Gdal\Gdal1.6.3\apps</gdalpath>
	<gdaldata>C:\VENUS\CodePlex\initialgdalintegration\Extensions\Gdal\Gdal1.6.3\data</gdaldata>
	<projpath>C:\VENUS\CodePlex\initialgdalintegration\Extensions\Gdal\Proj4.6.1\src</projpath>
</configuration>