<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CacheDirectory" value="c:\temp\SharpMapCache"/>
  </appSettings>
  <connectionStrings>
    <add name="LocalSqlConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SHARPMAPDATA;Integrated Security=SSPI;"  />
    <add name="LocalPgisConnectionString" providerName="System.Data.SqlClient" connectionString="Server=127.0.0.1;Port=5432;Database=SHARPMAPDATA;User Id=postgres;Password=postgres;"  />
  </connectionStrings>
</configuration>