<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CacheDirectory" value="c:\temp\SharpMapCache"/>
  </appSettings>
  <connectionStrings>
    <add name="LocalConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SHARPMAPDATA;Integrated Security=SSPI;"  />
  </connectionStrings>
</configuration>