<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Change these values according to your environment!-->
		<add key="GdalBinPath" value="D:\Development\GoogleCode\SharpMapV2\branches\initialgdalintegration\Extensions\ExternalReferences\Native\x86\bin;D:\Development\GoogleCode\SharpMapV2\branches\initialgdalintegration\Extensions\ExternalReferences\Native\x86\bin\gdal;D:\Development\GoogleCode\SharpMapV2\branches\initialgdalintegration\Extensions\ExternalReferences\Native\x86\bin\gdal\csharp" />
		<add key="GdalDataPath" value="D:\Development\GoogleCode\SharpMapV2\branches\initialgdalintegration\Extensions\ExternalReferences\Native\x86\bin\gdal-data" />
		<add key="GdalDriverPath" value="D:\Development\GoogleCode\SharpMapV2\branches\initialgdalintegration\Extensions\ExternalReferences\Native\x86\bin\gdal\plugins;D:\Development\GoogleCode\SharpMapV2\branches\initialgdalintegration\Extensions\ExternalReferences\Native\x86\bin\gdal\plugins-optional;" />
		<add key="ProjLibPath" value="D:\Development\GoogleCode\SharpMapV2\branches\initialgdalintegration\Extensions\ExternalReferences\Native\x86\bin\proj\SHARE" />
	</appSettings>
</configuration>